<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>SpringBoot2系で非同期メッセージングを使ったチャットアプリケーションの作例</title>
</head>
<body>
<h2>SpringBoot2系で非同期メッセージングを使ったチャットアプリケーションの作例</h2>
<ul>
<li><a th:href="@{/sse-demo/}" target="_blank">SseEmitterを使った Server-Sent Events のデモ</a></li>
<li><a th:href="@{/sse-chatroom}" target="_blank">SseEmitterとServer-Sent Eventsによるチャットのサンプル</a>(ログインチェック付き)</li>
</ul>
</body>
</html>
